<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="search" name="Search" schema="schema/search.exsd"/>
   <extension
         id="view"
         name="Search"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.search.internal.SearchView"
            icon="search.ico">
      </view>
   </extension>

</plugin>
